.login {
    padding: 20px;
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .login input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
  }
  
  .login button {
    margin-top: 10px;
  }
  